// Backup file of globals.css before theme overhaul
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-turquoise: #65d4b1;
  --color-baltic-blue: #006594;
  --color-alert: #dc2626;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-turquoise: #65d4b1;
  --color-baltic-blue: #006594;
  --color-alert: #dc2626;

  --font-sans: Arial, Helvetica, sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
